body {
    background-image:url(./background.jpg);
    background-size: cover; 
    background-attachment: fixed;
    height:100vh;
    opacity: 75%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#topbar {
    display: flex;
    background-color: aliceblue;
    backdrop-filter: blur(10px);
    justify-content: space-between;
    color: black;
    background: inherit;
    box-sizing: 0 0 10px 0;
}

#welcome {
    border:solid;
    width:250px;
    background:rgb(222, 222, 237);
    background-blend-mode:darken;
    border-radius: 15px;
    padding:15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#welcomeheader {
    background: inherit;
    border-radius: 30px;
    text-align: center;
    width: 250px;
    padding: auto;
    font-size: 18px;
}