#topbar {
    display: flex;
    background-color: aliceblue;
    backdrop-filter: blur(10px);
    justify-content: space-between;
}

#welcome {
    border:solid;
    width:250px;
    background:rgb(222, 222, 237);
    background-blend-mode:darken;
    border-radius: 15px;
    padding:15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#welcomeheader {
    border-radius: 30px;
    text-align: center;
    width: 250px;
    padding: auto;
    font-size: 18px;
}