.welcome {
border:solid;
width:250px;
background:rgb(222, 222, 237);
background-blend-mode:darken;
border-radius: 15px;
padding:18px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}